@model IEnumerable<FaceLook.DAL.Entities.User>
@{
    ViewBag.Title = "FriendsToConfirm";
}

<div class="container">
    @if (Model == null || !Model.Any())
    {
        <h3 class="text-center">You have no friendship requests</h3>
    }
    else
    {
        <h3 class="text-center" style="margin: 30px">Friendship requests</h3>
        foreach (var user in Model)
        {
            <div class="row well">
                <div class="col-sm-3">
                    <h4>
                        <a href="@Url.RouteUrl("PageItselfRoute", new {login = user.NickName})">
                            @user.FirstName @user.LastName
                        </a>
                    </h4>
                </div>
                <div class="col-sm-3">
                    @if (user.Photo != null)
                    {
                        <div>
                            <a href="@Url.RouteUrl("PageItselfRoute", new {login = user.NickName})">
                                <img class="img-circle" alt="@user.FirstName" width="50" height="50" src="@Url.Action("GetImage", "Account",
                                                                                                              new {login = user.NickName})"/>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div>
                            <a href="@Url.RouteUrl("PageItselfRoute", new {login = user.NickName})">
                                <img class="img-circle" alt="@user.FirstName" width="50" height="50" src="~/Content/Photos/default.jpg"/>
                            </a>
                        </div>
                    }
                </div>
                <div class="col-sm-3">
                    tel: @user.Phone
                    <br/>
                    email: @user.Email
                </div>

                <div class="col-sm-3">
                    @Html.RouteLink("User's friends", "FriendsRoute", new {login = user.NickName})
                    @using (Html.BeginForm("Confirm", "Friends",
                        FormMethod.Post))
                    {
                        <input type="hidden" value="@user.NickName" name="login" id="login"/>
                        <input type="submit" class="btn btn-info" value="Confirm friendship"/>
                    }
                    @using (Html.BeginForm("Deny", "Friends", FormMethod.Post))
                    {
                        <input type="hidden" value="@user.NickName" name="login" id="login"/>
                        <input type="submit" class="btn btn-warning" value="Deny friendship"/>
                    }
                    @Html.RouteLink("Write message", "ConversationRoute", new {login = user.NickName})
                </div>
            </div>
        }
    }
</div>